@import url(https://fonts.googleapis.com/css?family=Raleway);

body{
    font-family: 'Open Sans',serif;
    text-align: center;
}

h1{
 font-family: 'Raleway';

}


#wrapper {
    display: block;

    width: 90%;
    margin: 0px auto;
}

#header {
    background: #90a090;
    border-bottom: double 3px #aba;
    border-left: solid 1px #9a9;
    border-right: solid 1px #565;
    border-top: solid 1px #9a9;
    font: normal 230% 'Roboto Condensed', Roboto, Condensed;
    letter-spacing: 0.2em;
    margin: 0% 10% 0% 10%;
    padding: 15px 10px 15px 60px;
}
#headerimg{
    background-image: url("./img/EASV_web.jpg");
    background-size: 180px 160px;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#content {
    width: 45%;
    border: 2px #a2a2a2 solid;
    float: left;
    margin: 2% 0% 2% 10%;
    padding: 7%;

}

#sidebar {
    width: 18%;
    margin: 2% 2% 2% 2%;
    border: 2px #a2a2a2 solid;
    float: left;
}

#delimiter {
    clear: both;
}

#footer {
    border: 2px #a2a2a2 solid;
    margin: 0% 10% 0% 10%;
}

.title {
    font-size: 11pt;
    font-family: Raleway;
    font-weight: bold;
}

#cssidentifyer{
    background-color: aqua;
}

#nav{
    display: block;
    align-content: center;
    margin: 0% 10% 0% 10%;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;

}



li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}


/*PLUGIN*/
#wp-admin-motivation {
    float: right;
    padding-right: 15px;
    padding-top: 7px;
    margin: 0;
    font-size: 11px;
}

.rtl #wp-admin-motivation {
    float: left;
    padding-left: 15px;
}
